.is-size-display {
  font-size: clamp(3rem, 8vw, 9rem);
  font-weight: bold;
}

.code-label {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  background: rgba(128, 128, 128, 0.1);
  color: #666;
  font-family: monospace;
    font-size: clamp(0.1rem, 2vw, .8rem);
  padding: 2px 6px;
  border-radius: 3px;
  white-space: nowrap;
}

.code-labeled-element {
  outline: 1px dashed rgba(128, 128, 128, 0.3);
  outline-offset: 2px;
}

.trigger-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 25vh;
  left: 0;
  width: 100vw;
  z-index: 999;
  pointer-events: none;
}

.trigger-line {
  height: 1px;
  background: rgba(128, 128, 128, 0.5);
  width: 100%;
}

.trigger-label {
  background: rgba(255, 255, 255, 0.8);
  color: #282828;
  font-family: monospace;
  font-size: 11px;
  padding: 2px 6px;
  white-space: nowrap;
}