main {
    width: 590px;
    margin: auto
}

h1 {
    font-size: 70px;
    line-height: 80px;
    margin-top: 40px;
    font-family: 'Monoton', 'Roboto Condensed', sans-serif;
    font-weight: normal;
}

#occupation {
    display: inline-block;
}

#chilli-label {
    position: relative;
    float: right;
    bottom: 5px;
    
}

h2 {
    font-size: 45px;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:link{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color:red;
}
a:focus{
    text-decoration: none;
    color:black;
}
a:active{
    text-decoration: none;
    color:black;
}

#chillipharm {
    text-align: center;
    background-color: red;
    border-radius: 3px;
    padding: 1px 4px 2px 4px;
    color: white;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    display: inline-block;
}

#icons {
    align-self: center;
    font-size: 45;
    display: block;
    margin-left: 5px;
    margin-top: 200px;
}



/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Monoton', cursive;
*/
