@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-display: swap;
    src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf) format("truetype");
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-display: swap;
    src: url(fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(fonts/Roboto/Roboto-Thin.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url(fonts/Roboto/Roboto-ThinItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Roboto/Roboto-Light.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(fonts/Roboto/Roboto-Italic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Roboto/Roboto-Medium.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url(fonts/Roboto/Roboto-MediumItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(fonts/Roboto/Roboto-BoldItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Roboto/Roboto-Black.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url(fonts/Roboto/Roboto-BlackItalic.ttf) format('truetype');
  }
}

@layer components {
  .hero {
    @apply bg-orange;
  }
  .hero-shadow {
    background-image: 
      radial-gradient(#D2654D 10%, #272727 10%, #272727 17%, transparent 17%),
      radial-gradient(#D2654D 10%, #272727 10%, #272727 17%, transparent 17%),
      linear-gradient(transparent 20%, #D2654D 20%, #D2654D 80%, transparent 80%),
      linear-gradient(90deg, #272727 7%, transparent 7%, transparent 94%, #272727 94%);
    background-size: 1rem 1rem, 1rem 1rem, .5rem .5rem, .5rem .5rem;
    background-position: 0 0, .5rem .5rem, 0 0, 0 0;
  }
  #arrow-down {
    @apply text-6xl font-bold;
  }
}

@layer components {
  .card {
    @apply mb-20 w-full lg:w-[400px] relative;
  }
  .card-shadow {
    @apply h-full w-full absolute top-2 left-2 rounded-lg;
    background-image: linear-gradient(#272727 .05rem, transparent .05rem),
      linear-gradient(90deg, #272727 .05rem, transparent .05rem);
    background-size: .25rem .25rem;
  }
  .card-container {
    @apply bg-pale-orange pb-3 border-2 border-grey rounded-lg relative z-10 overflow-hidden;
  }
  .card-image-area {
    @apply max-h-48 w-full flex overflow-hidden border-b-2 border-b-grey;
  }
  .card-text-area {
    @apply p-4;
  }
  .card-title {
    @apply text-3xl lg:text-4xl font-bold text-grey font-roboto font-bold mb-2;
  }
  .card-text {
    @apply text-lg text-[#4B4B4B] font-roboto-slab font-normal;
  }
  #double-arrow {
    @apply text-4xl;
  }
}

@layer components {
  .editor {
    @apply flex flex-col bg-dark-blue w-1/2 p-2 overflow-scroll;
  }
  .editor-line {
    @apply rounded-full mr-1 mb-1;
  }
  .web-app {
    @apply flex bg-white w-1/2;
  }
  .web-app-body {
    @apply flex flex-col flex-grow h-full overflow-scroll p-2;
  }
  .web-app-header {
    @apply grid grid-cols-4 mb-6;
  }
  .web-app-table {
    @apply flex flex-col;
  }
  .web-table-circle {
    @apply w-3 h-3 rounded-full my-1 group-hover:bg-yellow;
  }
  .web-app-line {
    @apply rounded-full self-center justify-self-end;
  }
  .web-app-row {
    @apply grid grid-cols-3 hover:bg-yellow px-1;
  }

  .xs-line {
    @apply h-[0.3rem] w-2 lg:h-1 rounded-full;
  }
  .sm-line {
    @apply h-[0.3rem] w-4 lg:h-1 rounded-full;
  }
  .md-line {
    @apply h-[0.3rem] w-4 lg:h-1 rounded-full;
  }
  .lg-line {
    @apply h-[0.3rem] w-5 lg:h-1 rounded-full;
  }
  .full-line {
    @apply w-full h-[0.3rem] lg:h-1 rounded-full;
  }
}

@layer components {
  .upgrade-background-lg {
    background-image: linear-gradient(120deg, transparent .9rem, #272727 .9rem),
      linear-gradient(240deg, transparent .9rem, #272727 .9rem);
    background-size: .8rem .8rem;
  }
  .upgrade-background {
    background-image: linear-gradient(120deg, transparent 1.1rem, #272727 1rem),
      linear-gradient(240deg, transparent 1.1rem, #272727 1rem);
    background-size: 1rem 1rem;
  }
  .boost-team-background {
    background: radial-gradient(transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent),
      radial-gradient(transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px,
      linear-gradient(#3C4CA0 2px, transparent 2px) 0 -1px,
      linear-gradient(90deg, #3C4CA0 2px, #e5e5f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  }
  .battery-lg {
    background-image: radial-gradient(#272727 .1rem, transparent .1rem);
    background-size: .4rem .4rem;
    @apply w-48 h-24 rounded-lg bg-green border-4 border-grey flex items-center justify-center;
  }
  .battery {
    background-image: radial-gradient(#272727 .2rem, transparent .2rem);
    background-size: .7rem .7rem;
    @apply w-80 h-40 rounded-lg bg-green border-4 border-grey flex items-center justify-center;
  }
  #bolt {
    @apply text-5xl;
    font-variation-settings: "FILL" 1;
  }
}

@layer components {
  .divider {
    @apply w-40 h-1 bg-blue self-center my-20 rounded-full;
  }
}

@layer components {
  .field {
    @apply bg-white w-full p-2 font-roboto-slab font-normal text-lg text-grey;
  }
  .radio-container {
    @apply relative pl-12 text-lg hover:cursor-pointer h-10 flex items-center mb-4;
  }
  .radio-field {
    @apply w-10 h-10 rounded-full border-2 border-white mr-2 absolute top-0 left-0;
  }
  .radio-input {
    @apply hidden;
  }
  .send-message {
    @apply bg-grey text-orange w-full rounded-full p-4 text-lg font-roboto-mono font-normal hover:bg-white hover:cursor-pointer;
  }
}