@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-display: swap;
    src: url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf) format("truetype");
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-display: swap;
    src: url(fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url(fonts/Roboto/Roboto-Thin.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url(fonts/Roboto/Roboto-ThinItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/Roboto/Roboto-Light.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(fonts/Roboto/Roboto-Italic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Roboto/Roboto-Medium.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url(fonts/Roboto/Roboto-MediumItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(fonts/Roboto/Roboto-BoldItalic.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/Roboto/Roboto-Black.ttf) format('truetype');
  }
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url(fonts/Roboto/Roboto-BlackItalic.ttf) format('truetype');
  }
}

@layer components {
  .hero {
    @apply h-screen w-screen bg-orange;
  }
  .hero-shadow {
    background-image: radial-gradient(#272727 .12rem, transparent .12rem);
    background-size: .8rem .8rem;
  }
  .hero-shadow-lg {
    background-image: radial-gradient(#272727 .06rem, transparent .06rem);
    background-size: .4rem .4rem;
  }
}

@layer components {
  .card {
    @apply mb-20 w-full lg:w-[400px] relative;
  }
  .card-shadow {
    @apply h-full w-full absolute top-4 left-4 rounded-lg;
    background-image: linear-gradient(#272727 .1rem, transparent .1rem),
      linear-gradient(90deg, #272727 .1rem, transparent .1rem);
    background-size: .6rem .6rem;
  }
  .card-shadow-lg {
    @apply h-full w-full absolute top-2 left-2 rounded-lg;
    background-image: linear-gradient(#272727 .05rem, transparent .05rem),
      linear-gradient(90deg, #272727 .05rem, transparent .05rem);
    background-size: .25rem .25rem;
  }
  .card-container {
    @apply bg-pale-orange pb-3 border-4 lg:border-2 border-grey rounded-2xl lg:rounded-lg relative z-10 overflow-hidden;
  }
  .card-image-area {
    @apply max-h-80 lg:max-h-48 w-full flex overflow-hidden border-b-4 lg:border-b-2 border-b-grey;
  }
  .card-text-area {
    @apply p-8 lg:p-4;
  }
  .card-title {
    @apply text-5xl lg:text-4xl font-bold text-grey font-roboto font-bold mb-6 lg:mb-2;
  }
  .card-text {
    @apply text-3xl lg:text-lg text-[#4B4B4B] font-roboto-slab font-normal;
  }
}

@layer components {
  .editor {
    @apply flex flex-col bg-dark-blue w-1/2 p-4 lg:p-2 overflow-scroll;
  }
  .editor-line {
    @apply rounded-full mr-2 mb-2 lg:mr-1 lg:mb-1;
  }
  .web-app {
    @apply flex bg-white w-1/2;
  }
  .web-app-body {
    @apply flex flex-col flex-grow h-full overflow-scroll p-4 lg:p-2;
  }
  .web-app-header {
    @apply grid grid-cols-4 mb-10 lg:mb-6;
  }
  .web-app-table {
    @apply flex flex-col;
  }
  .web-table-circle {
    @apply w-6 h-6 lg:w-3 lg:h-3 rounded-full my-2 lg:my-1 group-hover:bg-yellow;
  }
  .web-app-line {
    @apply rounded-full self-center justify-self-end;
  }
  .web-app-row {
    @apply grid grid-cols-3 hover:bg-yellow px-2 lg:px-1;
  }

  .xs-line {
    @apply w-4 h-2 lg:w-2 lg:h-1 rounded-full;
  }
  .sm-line {
    @apply w-6 h-2 lg:w-4 lg:h-1 rounded-full;
  }
  .md-line {
    @apply w-8 h-2 lg:w-4 lg:h-1 rounded-full;
  }
  .lg-line {
    @apply w-10 h-2 lg:w-5 lg:h-1 rounded-full;
  }
  .full-line {
    @apply w-full h-2 lg:w-1 lg:h-1 rounded-full;
  }
}

@layer components {
  .upgrade-background {
    background-image: linear-gradient(120deg, transparent 1.1rem, #272727 1rem),
      linear-gradient(240deg, transparent 1.1rem, #272727 1rem);
    background-size: 1rem 1rem;

  }
  .boost-team-background {
    background: radial-gradient(transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent),
      radial-gradient(transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px,
      linear-gradient(#3C4CA0 2px, transparent 2px) 0 -1px,
      linear-gradient(90deg, #3C4CA0 2px, #e5e5f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
  }
  .battery {
    background-image: radial-gradient(#272727 .2rem, transparent .2rem);
    background-size: .7rem .7rem;
    @apply w-80 h-40 rounded-lg bg-green border-4 border-grey flex items-center justify-center;
  }
  .bolt {
    font-variation-settings: "FILL" 1;
  }
}

